/* @font-face {
    font-family: "Pixolletta8px";
    src: url("Pixolletta8px.ttf");
} */

/* -------------------------------------------------------------------------- */
/*                                Color scheme                                */
/* -------------------------------------------------------------------------- */

:root {
    --background: #4C5844; /* hsl(96,12,30); */
    --input-background: #3E4637; /* hsl(92,12,24); */
    --font-primary: #FFFFFF; /* hsl(0,0,100); */
    --font-secondary: #848F7D; /* hsl(96,7,52); */
    --active-accent: #C3B44F; /* hsl(52,49,53); */
    --shadow-clear: #696E65; /* hsl(93,4,41); */
    --shadow-dark: #374030; /* hsl(93,14,21); */
}

/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 6px;
}

body {
    font-family: Tahoma, Verdana;
    font-smooth: never;
    -webkit-font-smoothing : none;

    color: var(--font-primary);
    background: var(--background);
}

/* -------------------------------------------------------------------------- */
/*                                   Button                                   */
/* -------------------------------------------------------------------------- */

button {
    border-radius: 0;
    height: 1.8rem;
    text-align: start;
    cursor: pointer;
    background-color: var(--background);
    color: var(--font-primary);
    border: 1px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
}

button:active {
    color: var(--font-secondary);
    background-color: var(--input-background);
    border-color: var(--shadow-dark) var(--shadow-clear) var(--shadow-clear) var(--shadow-dark);
}

button:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* -------------------------------------------------------------------------- */
/*                                 Form layout                                */
/* -------------------------------------------------------------------------- */

.form-grid {
    display: grid;
    grid-template-columns: auto minmax(max-content, 1fr);
    align-items: baseline;
    gap: 8px;
}

.form-grid label {
    text-align: end;
}

/* -------------------------------------------------------------------------- */
/*                           Input global properties                          */
/* -------------------------------------------------------------------------- */

input, select {
    height: 1.8rem;
    border: 1px solid;
    padding-left: 8px;
    background: var(--input-background);
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
    color: var(--font-primary);
}

select {
    cursor: pointer;
}

label {
    color: var(--font-secondary);
    user-select: none;
}

/* -------------------------------------------------------------------------- */
/*                                  Checkbox                                  */
/* -------------------------------------------------------------------------- */

[type="checkbox"] + label {
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

/* Hide the default checkbox square */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}

/* Checkbox label checked */
[type="checkbox"]:checked + label {
    color: var(--active-accent);
}

/* Checkbox square */
[type="checkbox"] + label:before {
    display: grid;
    place-content: center;
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
    border: 1px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
    background: var(--input-background);
}

/* Checkbox square not checked */
[type="checkbox"]:not(:checked) + label:before {
    content: '';
}

/* Checkbox square checked */
[type="checkbox"]:checked + label:before {
    content: '✓';
}

[type="checkbox"]:checked {
    background: var(--input-background);
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
    color: var(--active-accent);
}

/* -------------------------------------------------------------------------- */
/*                               Other elements                               */
/* -------------------------------------------------------------------------- */

hr {
    border-top: 1px solid var(--shadow-clear);
    border-bottom: 1px solid var(--shadow-dark);
    border-right: 0;
    border-left: 0;
    margin: 1rem 0;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding-left: 8px;
    border: 1px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
    background: var(--input-background);
    color: var(--font-primary);
}

/* -------------------------------------------------------------------------- */
/*                               Layout classes                               */
/* -------------------------------------------------------------------------- */

.window-wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: minmax(auto, 500px);
}

.vertical-align{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}