:root {
  --background: hsl(96 12% 30%);
  --input-background: hsl(92 12% 24%);
  --font-primary: hsl(0 0% 100%);
  --font-secondary: hsl(96 7% 52%);
  --active-accent: hsl(52 49% 53%);
  --shadow-clear: hsl(93 4% 41%);
  --shadow-dark: hsl(93 14% 21%);

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

/* Used for Button & Toast */

@define-mixin green-light-box {
  background: var(--background);
  color: var(--font-primary);
  border: 1px solid;
  border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark)
    var(--shadow-clear);

  &:active {
    background: var(--input-background);
    color: var(--font-secondary);
    border-color: var(--shadow-dark) var(--shadow-clear) var(--shadow-clear)
      var(--shadow-dark);
  }
}

/* Used for Input, Select, Checkbox & Textarea */

@define-mixin green-dark-box {
  background-color: var(--input-background);
  color: var(--font-primary);
  border: 1px solid;
  border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark)
    var(--shadow-clear);

  &:checked {
    color: var(--active-accent);
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark)
      var(--shadow-clear);
  }
}

h1,
h2,
h3 {
  margin: 0;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  box-sizing: border-box;
  padding-block: var(--space-xs);
  margin: 0;

  background: var(--background);
  color: var(--font-primary);

  font-family: system-ui, sans-serif;
}

main {
  display: grid;
  gap: var(--space-md);
  place-content: center;
  padding: var(--space-sm);

  @media (width >= 540px) {
    & {
      padding: var(--space-lg);
    }
  }
}

section {
  display: grid;
  gap: var(--space-md);
}

header {
  display: grid;
  gap: var(--space-xxs);
}

form {
  --layout: auto-fit;

  @media (orientation: landscape) and (width >= 640px) {
    & {
      --layout: 2;
    }
  }

  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(var(--layout), minmax(min(10ch, 100%), 50ch));
  align-items: flex-start;
  max-width: 90vw;
}

fieldset {
  display: grid;
  gap: 0;

  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@define-mixin fieldset-base $template, $gap {
  display: grid;
  grid-template-columns: $template;
  grid-template-rows: min(2rem, 1fr);
  gap: $gap;
  align-items: stretch;

  padding-block: var(--space-xs);
  padding-inline: 0;

  & > label {
    align-self: center;
  }
}

.fieldset-item {
  @mixin fieldset-base repeat(auto-fit, minmax(min(10ch, 100%), 1fr)),
    var(--space-sm);
}

.fieldset-stack {
  @mixin fieldset-base 1fr, var(--space-xs);
}

button {
  @mixin green-light-box;

  border-radius: 0;
  padding: var(--space-xs);
  cursor: pointer;

  /* font-size: 1rem; */
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

input {
  @mixin green-dark-box;

  padding: var(--space-xs);
  /* font-size: 1rem; */
}

select {
  @mixin green-dark-box;

  cursor: pointer;
  padding: var(--space-xs);
  /* font-size: 1rem; */
}

label {
  color: var(--font-secondary);
  user-select: none;
}

input[type="checkbox"] {
  & + label {
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
  }

  /* Hide the default checkbox square */
  &:not(:checked),
  &:checked {
    display: none;
  }

  /* Checkbox square */
  & + label:before {
    @mixin green-dark-box;

    display: grid;
    place-content: center;

    border: 1px solid;
    width: 1rem;
    height: 1rem;
    margin-inline-end: var(--space-xs);
  }

  /* Checkbox label checked */
  &:checked + label {
    color: var(--active-accent);
  }

  /* Checkbox square not checked */
  &:not(:checked) + label:before {
    content: "";
  }

  /* Checkbox square checked */
  &:checked + label:before {
    content: "✓";
  }
}

hr {
  border-top: 1px solid var(--shadow-clear);
  border-bottom: 1px solid var(--shadow-dark);
  border-right: 0;
  border-left: 0;

  margin: var(--space-md) 0;
}

textarea {
  @mixin green-dark-box;

  resize: none;
  outline: none;
}

.gui-toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  inset-inline: 0;
  padding-block-end: var(--space-md);
  padding-inline-end: var(--space-md);

  display: grid;
  justify-items: end;
  justify-content: end;
  gap: var(--space-xs);

  pointer-events: none;
}

.gui-toast {
  --duration: 3s;
  --travel-distance: 0;

  @mixin green-light-box;

  max-inline-size: min(40ch, 90vw);
  padding-block: 0.8ch;
  padding-inline: 1ch;

  will-change: transform;
  animation: fade-in 300ms ease, slide-in 300ms ease,
    fade-out 300ms ease var(--duration);
}

@media (prefers-reduced-motion: no-preference) {
  .gui-toast {
    --travel-distance: 5vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(var(--travel-distance, 10px));
  }
}
