:root {
    --background:       hsl(96 12%  30%);
    --input-background: hsl(92 12%  24%);
    --font-primary:     hsl(0   0% 100%);
    --font-secondary:   hsl(96  7%  52%);
    --active-accent:    hsl(52 49%  53%);
    --shadow-clear:     hsl(93  4%  41%);
    --shadow-dark:      hsl(93 14%  21%);

    --space-xxs: 0.25rem;
    --space-xs:  0.5rem;
    --space-sm:  1rem;
    --space-md:  1.5rem;
    --space-lg:  2rem;
    --space-xl:  3rem;
    --space-xxl: 6rem;
}

/* Used for Button & Toast */

@define-placeholder green-light-box {
    background-color: var(--background);
    color: var(--font-primary);
    border: 1px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);

    &:active {
         background-color: var(--input-background);
         color: var(--font-secondary);
         border-color: var(--shadow-dark) var(--shadow-clear) var(--shadow-clear) var(--shadow-dark);
    }
}

/* Used for Input, Select, Checkbox & Textarea */

@define-placeholder green-dark-box {
    background-color: var(--input-background);
    color: var(--font-primary);
    border: 1px solid;
    border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);

    &:checked {
         color: var(--active-accent);
         border-color: var(--shadow-clear) var(--shadow-dark) var(--shadow-dark) var(--shadow-clear);
    }
}

html {
    block-size: 100%;
    inline-size: 100%;
}

body {
    min-block-size: 100%;
    min-inline-size: 100%;

    box-sizing: border-box;
    padding-block: var(--space-xs);
    margin: 0;

    background: var(--background);
    color: var(--font-primary);
    font-family: Tahoma, Verdana, serif;
}

main {
    display: grid;
    gap: var(--space-md);
    place-content: center;
    padding: var(--space-sm);
}

h1, h2, h3 {
    margin: 0;
}

.square-btn {
    height: 1.8rem;
    border-radius: 0;
    cursor: pointer;

    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @extend green-light-box;

    &:focus {
         text-decoration: underline;
         text-decoration-style: dotted;
    }
}

section {
  display: grid;
  gap: var(--space-md);

  min-width: min(600px, 60vw);
}

header {
  display: grid;
  gap: var(--space-xxs);
}

form {
    display: grid;
    gap: var(--space-xs);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    align-items: baseline;
}

fieldset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: var(--space-xs);

    border: 0;
    padding: 0;
    margin: 0;
}

.input-fit-line {
    display: flex;
    align-items: baseline;
    gap: var(--space-xs);
}

.input-wide-line {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    gap: var(--space-sm);
}

.justify-end {
    justify-content: flex-end;
}


.square-input {
    height: 1.8rem;
    padding-left: var(--space-xs);
    @extend green-dark-box;
}

select {
    cursor: pointer;
}

label {
    color: var(--font-secondary);
    user-select: none;
}



[type="checkbox"] + label {
    /* TODO: flex? */
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

/* Hide the default checkbox square */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}

/* Checkbox label checked */
[type="checkbox"]:checked + label {
    color: var(--active-accent);
}

/* Checkbox square */
[type="checkbox"] + label:before {
    display: grid;
    place-content: center;
    border: 1px solid;
    width: 1rem;
    height: 1rem;
    margin-right: var(--space-xs);

    @extend green-dark-box;
}

/* Checkbox square not checked */
[type="checkbox"]:not(:checked) + label:before {
    content: '';
}

/* Checkbox square checked */
[type="checkbox"]:checked + label:before {
    content: '✓';
}



hr {
    border-top: 1px solid var(--shadow-clear);
    border-bottom: 1px solid var(--shadow-dark);
    border-right: 0;
    border-left: 0;
    margin: 1px 0;
}

.console {
    resize: none;
    outline: none;

    @extend green-dark-box;
}

.gui-toast-group {
    position: fixed;
    z-index: 1;
    inset-block-end: 0;
    inset-inline: 0;
    padding-block-end: var(--space-md);
    padding-inline-end: var(--space-md);

    /* Grid layout */
    display: grid;
    justify-items: end;
    justify-content: end;
    gap: var(--space-xs);

    /* Others */
    pointer-events: none;
}

.gui-toast {
    --_duration: 3s;
    --_travel-distance: 0;

    max-inline-size: min(40ch, 90vw);
    padding-block: .8ch;
    padding-inline: 1ch;

    @extend green-light-box;

    /* Animations */
    will-change: transform;
    animation:
        fade-in 300ms ease,
        slide-in 300ms ease,
        fade-out 300ms ease var(--_duration);
}

@media (prefers-reduced-motion: no-preference) {
    .gui-toast {
        --_travel-distance: 5vh;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
}

@keyframes fade-out {
    to { opacity: 0; }
}

@keyframes slide-in {
    from { transform: translateY(var(--_travel-distance, 10px)); }
}
